/* CodingTest */
@import 'partials/reset';
@import 'partials/fonts';
@import 'partials/mixins';

$dev: true;

@if $dev {
  html * {
    //border: 1px dashed red;
  }
}

// Variables
$md: 768px;
$max-width: 768px;
$header-height: 50px;
$side-padding: 10px;

// Globals
html * {
  font-size: 0.9rem;
  font-family: 'robotoregular';
}

h1 {
  font-size: 1.5em;
  font-weight: 700;
}

ul {
  display: inline-block;
}

li {
  padding: 3px 0;
}

// Header
header {
  position: fixed;
  width: 100%;
  z-index: 1000;

  height: $header-height;
  background: white;

  h1 {
    max-width: $max-width;
    line-height: $header-height;
    margin-left: auto;
    margin-right: auto;
    padding-left: $side-padding;
    padding-right: $side-padding;
  }
}

// Container
.container {
  padding: $header-height $side-padding 0;
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
}

// ItemRenderers
.item-renderer {
  background: #eeeeee;
  padding: 10px $side-padding;
  margin: 5px 0;

  // Transition.
  transition: max-height 0.25s ease-out;
  max-height: 500px;

  .max-toggle {
    cursor: pointer;
    float: left;
    font-size: 1.25em;
  }

  .employee-name {
    cursor: pointer;
    font-weight: 700;
    text-transform: uppercase;
  }

  .minimizable {
    display: none;
  }

  .min-phone {
    margin-top: 3px;
    float: right;
  }

  &.minimized {
    max-height: 50px;
  }
}

// Other
.ellipsis {
  max-width: 200px;
  @include ellipsis();
}

.word-wrap {
  @include word-wrap;
}

// Responsive
// TODO Consider checking for tablets in landscape.
@media all and (min-width: $md){
  header {
    position: relative;
    width: auto;

    h1 {
      font-size: 2.25em;
    }
  }

  .container {
    padding-top: 0px;
  }
}