<!DOCTYPE html>
<html lang="en" ng-app="employeeDirectory">
    <head>
        <meta charset="UTF-8">
        <title>Employee Directory</title>

        <!-- TODO Minify CSS. -->
        <link rel="stylesheet" type="text/css" href="css/app.css" media="screen">
        <link rel="stylesheet" type="text/css" href="css/font-awesome.css" media="screen">
    </head>
    <body>

        <header>
            <h1>Employee Directory</h1>
        </header>

        <section class="container" ng-controller="DirectoryController">
            <div class="item-renderer minimized" ng-class="status" ng-repeat="employee in model" ng-cloak>
                <div style="float:left;"><i class="max-toggle fa fa-plus" ng-click="toggle($event)"></i></div>
                <ul class="fa-ul">
                    <li class="employee-name"><i class="fa fa-li fa-user"></i>{{::employee.name}} <i class="min-phone fa fa-phone" ng-show="employee.phone"></i></li>
                    <li class="employee-email"><i class="fa fa-li fa-envelope"></i> <a href="mailto:{{::employee.email}}">{{::employee.email}}</a></li>
                    <li class="employee-address">
                        <i class="fa fa-li fa-home"></i>
                        {{::employee.address.street}}<br/>
                        {{::employee.address.suite}}<br/>
                        {{::employee.address.city}}, {{employee.address.state}} {{employee.address.zipcode | zipcode}}
                    </li>
                    <li class="employee-phone" ng-show="employee.phone"><i class="fa fa-li fa-phone"></i>{{::employee.phone | phone}}</li>
                    <li class="employee-website" ng-show="employee.website"><i class="fa fa-li fa-link"></i><a href="http://{{::employee.website | website}}">{{::employee.website | website}}</a></li>
                </ul>
            </div>
        </section>

        <footer>

        </footer>

        <!-- TODO Minify and concatenate JS. -->
        <script src="js/jquery.min.js"></script>
        <script src="js/angular.js"></script>

        <script src="js/model.js"></script>
        <script src="js/core.js"></script>
        <script src="js/app.js"></script>

        <script src="//localhost:35729/livereload.js"></script>

    </body>
</html>